* {
	box-sizing: border-box;
}

.calculator {
	font-family: Gotham Pro, sans-serif;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	@media (min-width: 768px) {
		width: 100%;;
	}

	@media (min-width: 1100px) {
		width: 1496px;		
	}	

	&__left, &__right {
		background: #fff;		
	}
	&__left {		
		padding: 42px 40px 59px 30px;
		width: 100%;		

		@media (min-width: 768px) {
			padding-bottom: 10px;
		}
		@media (min-width: 1100px) {
			width: 890px;
		}
	}

	&__right {						
		width: 585px;
		margin: 0 auto;				
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		color: #000000;
		margin-bottom: 23px;
		width: 100%;
	}

	&__block {
		&__checkbox {
			display: flex;
			justify-content: flex-start;			
			margin-bottom: 25px;
			&__wrapper {
				&--2{
					display: flex;
					justify-content: flex-start;
					.calculator__block__checkbox {
						width: 100%;

						@media (min-width: 1100px) {
							width: 50%;
						}
					}
				}
			}
		}
	}

	&__btn {
		color: #fff;
		width: 212px;
		text-align: center;
		padding: 17px 0;
		background-color: #ffa500;
		border: none;
		outline: none;

		@media (max-width: 580px) {
			width: 100%;
		}

		&:hover, &:focus {
			background: #ce8500;
		}
	}
	
	& input[type="checkbox"] {
		position: absolute;
		z-index: -1;
		opacity: 0;
		
		&:checked+label::before {
			border-color: #0b76ef;
			background-color: #0b76ef;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
		}
		& + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			&::before {
				content: '';
				display: inline-block;
				width: 15px;
				height: 15px;
				flex-shrink: 0;
				flex-grow: 0;
				border: 1px solid #cccccc;				
				margin-right: 0.5em;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50% 50%;
			}
		}
	}
}

.calculator-section-vorota {
	width: 100%;
	order: 2;

	@media (min-width: 768px) {
		width: 50%;
		order: 1;
	}
	@media (min-width: 960px) {
		width: 60%;		
	}
}

.calculator-razmer {
	width: 100%;
	order: 1;

	@media (min-width: 768px) {
		width: 50%;
		order: 2;
	}
	@media (min-width: 960px) {
		width: 40%;		
	}
	&__block {
		display: flex;
		justify-content: space-between;
		& label {
			margin-right: 20px;
		}

		& input[type="text"] {
			margin-bottom: 10px;
			width: 170px;
			box-sizing: border-box;
			padding: 10px;
		}
	}
}

.design-slider {
	&__wrapper {
		position: relative;
		padding: 0 15px;
	}

	&__item {		
		cursor: pointer;
		text-align: center;		

		&.active &__img {			
			border: 1px solid #ffa500;			
		}

		&__img {
			width: auto;
			display: inline-block;
			padding: 5px 10px;
		}

		img {
			margin: 0 auto;
		}
	}

	&__controll {
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999;

		&__prev, &__next {
			position: absolute;
			width: 23px;
			height: 23px;
			background-image: url('../img/arrow-slider.png');
			background-repeat: no-repeat;
		}

		&__next {
			right: 5px;

			@media (max-width: 960px) {
				right: 75px;	
			}
			@media (max-width: 580px) {
				right: 15px;	
			}
		}

		&__prev {
			left: -15px;
			transform: rotateZ(-180deg);

			@media (max-width: 960px) {
				left: 75px;	
			}

			@media (max-width: 580px) {
				left: 15px;	
			}
			
		}
	}	
}

.calculator-raschet {
	&__block {
		padding: 29px 0 36px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&--border {
			border-top: 1px solid #ffa500;
			border-bottom: 1px solid #ffa500;
		}

		@media (max-width: 580px) {
			flex-direction: column;
		}
	}
	&__design &__title{
		text-align: center;

		@media (min-width: 1100px) {
			text-align: left;
		}
	}
}

.calculator-complectation {
	width: 100%;

	@media (min-width: 768px) {
		width: 50%;
	}
}

.calculator-montazh {
	width: 100%;

	@media (min-width: 768px) {
		width: 50%;
	}
}

.calculator-design {
	width: 100%;
	
	@media (min-width: 768px) {
		width: 50%;
	}

	&__title {
		margin-bottom: 15px;
		text-align: center;

		@media (min-width: 960px) {
			text-align: left;
		}
	}

}

.calculator-color {
	width: 100%;

	@media (min-width: 768px) {
		width: 50%;
	}

	&__title {
		margin-bottom: 30px;
		text-align: center;

		@media (min-width: 960px) {
			text-align: left;
		}
	}


	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;		
	}

	&__item {
		margin: 0 8px 8px 0;
		cursor: pointer;

		&.active {
			img {
				border: 1px solid #ffa500;
			}
		}
		
		img {
			border: 1px solid #cccccc;
			width: 65px;
			height: 78px;
			margin: 0 auto;
		}
	}

	&__wrapper {
		position: relative;
		padding: 0 15px;
	}

	&__controll {
		display: block;

		@media (min-width: 960px) {
			display: none;
		}

		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999;

		&__prev, &__next {
			position: absolute;
			width: 23px;
			height: 23px;
			background-image: url('../img/arrow-slider.png');
			background-repeat: no-repeat;
		}

		&__next {
			right: -10px;
		}

		&__prev {
			left: -10px;
			transform: rotateZ(-180deg);
		}
	}
}

.calculator-result {
	padding: 28px 22px 45px;
	img {
		max-width: 100%;
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		color: #00396f;
		margin-bottom: 27px;
		text-align: center;
		text-transform: uppercase;
	}

	&__img {
		text-align: center;
		margin-bottom: 26px;
	}

	&__text {
		font-size: 13px;
		line-height: 15px;
	}
}

.calculator-result-table {
	margin-top: 27px;

	table, tr, td, th {
		border: none;
	}

	td {
		padding-bottom: 10px;
	}

	table {
		width: 100%;
		font-size: 13px;
	}

	&__value {
		font-weight: bold;		
	}
	&__name {
		min-width: 75px;
		display: inline-block;

		@media (min-width: 960px) {
			min-width: 100px;
		}
	}
}

.calculator-result-price {
	color: #fff;
	background-color: #004a90;
	padding: 17px 35px 16px 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 22px;

	&__left, &__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@media (min-width: 768px) {
			display: block;
			width: 50%;			
		}
	}

	&__right {
		text-align: center;
	}

	&__total {
		&__text {
			font-size: 20px;
			font-weight: 500;
		}

		&__price {
			font-family: Tahoma;
			font-size: 25px;
			font-weight: 700;
		}

		&__star {
			font-family: Tahoma;
			font-size: 16px;
			font-weight: 700;
		}
	}

	&__text {
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
	}
}

.calculator-print {
	float: right;
}